// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.task {
<<<<<<< HEAD
  border: thin solid #000;
  margin:10px;
  padding:10px;
=======
  border:thin solid #000;
>>>>>>> c2670d2b8950f5d246f872278be627777ba05d49
}
